<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sznq.finalcompress">
    <uses-sdk tools:overrideLibrary="com.hss01248.lib,
    com.hss01248.adapter,com.hss01248.notifyutil,
    com.gc.materialdesign,com.hss01248.testtool,
com.orhanobut.logger,es.dmoral.toasty,pl.droidsonroids.gif,pl.droidsonroids.relinker
,com.wuhenzhizao.titlebar,com.shuyu.gsyvideoplayer
,com.shuyu.gsy.base,shuyu.com.androidvideocache"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app"
        android:supportsRtl="true"
        android:name=".BaseApp"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".filemanager.StorageListActivity" />
        <activity android:name=".filemanager.FolderViewActivity" />
        <activity android:name=".filemanager.search.SearchActivity" />

        <service android:name=".MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>