<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hss01248.media.localvideoplayer">

    <application>
        <activity android:name="com.hss01248.media.localvideoplayer.PictureVideoPlayByGSYActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"/>
    </application>
</manifest>